@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Montserrat", sans-serif;
}


body{
    background: grey;
    font-size: 14px;
    line-height: 22px;
    color: black;
}

.bold{
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
}
.semi_bold{
    font-weight: 500;
    font-size: 16px;
}

.opdracht{
    width: 1200px;
    height: auto;
    display: flex;
    margin: 120px auto;
}

.opdracht .opdracht_left{
    width: 300px;
    background: palegoldenrod;
    height: 500px;
}

.opdracht .opdracht_right{
    width: 720px;
    background: aqua;
    padding: 25px;
}

/*.opdracht .opdracht_right .profile_pic {
max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto;
}
*/
.opdracht .opdracht_right .borders_text{
    border-style: solid;
    margin-bottom: 18px;
    margin-top: 20px;

}

.opdracht .opdracht_right .border_table_text{
    border-style: double;
    margin-bottom: 25px;
    margin-top: 15px;
}

.opdracht .opdracht_right .table tr th{
    padding: 15px;
    text-align: left;
border-collapse: collapse;
   width: 100%;
    border-radius: 5px;
    border: 1px solid black;
}


.opdracht .opdracht_right .table tr td{

    border: 1px solid black;
}























